body {
    /* background-image: url("../media/Yu_Gi_Oh_fondo.jpg"); 
    #f0d69c
    */
    /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../media/egipto.png"); */
    background: rgb(237, 232, 63);
    background: linear-gradient(84deg, rgba(237, 232, 63, 0.9051995798319328) 37%, rgba(255, 154, 0, 1) 66%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    background-image: url("../media/hieroglyphs-bg.png");
    color: white;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: column;
}

.medios {
    text-align: center;
}

.logou {
    height: 4rem;
}

header {
    color: red;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

.navbar ul li {
    float: left;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li img {
    /* height: 8rem; */
    max-height: 100%;
    max-width: 100%;
}

li {
    border: 2px solid orange;
    border-radius: 8px;
    padding: 5px;
    width: 15rem;
}

#dibujo {
    width: auto;
}

#productos img {
    height: 10rem;
}

.listing {
    list-style: none;
    margin: 4em;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 15rem;
}

@media only screen and (min-width: 480px) {}

video {
    max-width: 100%;
    height: auto;
}

.navbar {
    z-index: 10000;
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
}

.xtarget:target {
    margin-top: -12px;
    padding-top: 60px;
}


/* Add 'Currently Reading' to targeted section (optional) */

.xtarget:target:before {
    content: 'Currently Reading';
    font-family: 'Open Sans', sans;
    font-size: 12px;
    background: #ccc;
    border-radius: 3px;
    background-clip: padding-box;
    color: #fff;
    padding: 0 5px;
    position: absolute;
    top: 24px;
}